.App {
  text-align: center;
}

.label-parent {
  text-align: left;
}

.labels {
  padding-left: 20px;
}

#show-loans {
  margin: 18px;
}

.form-group {
  padding-left: 30px;
  padding-right: 30px;
}

.month-input {
      /* border: 0; */
    width: 100px;
    cursor: auto;
    outline: 0;
    height: 100%;
    color: rgba(0, 0, 0, 0.65);
    background: #fff;
    padding: 0 10px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.month-select {
  text-align: left;
}

.picker-panel {
  top: 24px !important;
  z-index: 5;
}