body {
  padding-bottom: 15%;
}

.App {
  text-align: center;
}

.Display {
  margin-left: 10px;
}

.label-parent {
  text-align: left;
}

.labels {
  padding-left: 20px;
}

#show-loans {
  margin: 18px;
}

.form-group {
  padding-left: 30px;
  padding-right: 30px;
}

.month-input {
      /* border: 0; */
    width: 100px;
    cursor: auto;
    outline: 0;
    height: 100%;
    color: rgba(0, 0, 0, 0.65);
    background: #fff;
    padding: 0 10px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.month-select {
  text-align: left;
}

.picker-panel {
  top: 24px !important;
  z-index: 5;
}

/* Month Display Container */
.MonthDisplay {
  clear: both;
}

/* Table Header */
.rows, .titles{
  text-align: center;
}

.rows div, .titles div {
  padding: 0;
}

/* Link to new loan page */
.newLoan {
  float: left;
  padding-left: 10px;
}

/* Highlight rows for selected months payout */
.highlight {
  background-color: lightsteelblue;
}

.notPayoutRows {
  background-color: lightseagreen
}

/* Highlight subtotal and total rows */
.subtotal {
  background-color: lightgray;
}

.total {
  background-color: lightgoldenrodyellow;
}

.monthHeader{
  display: inline;
  text-align: center;
  clear: left;
}

.icon {
  padding-left: 5px;
  padding-right: 5px;
}

.pencil {
  color: #0b0c50;
  position: absolute;
  left: 2px;
  margin: 4px;
  z-index: 99;
}

.x {
  color: #d9534f;
}

.check {
  color: rgb(35, 114, 39);
  /* position: absolute; */
  /* left: 24px; */
  margin: 0 2px 0 4px;
}

.pointer {
  cursor: pointer;
}

/* Input styles for edit mode */
.row > input {
  max-height: 20px;
  text-align: center;
  padding: 0;
}

/* Delete button */
.delete {
  margin: 0 4px 0 2px;
  color: rgb(146, 13, 13);
}

.relativeParent {
  position: relative;
}


.glyphicon {
  top: auto;
}

/*Modal Styling */
.modalTitle {
  margin-top: 0px;
}

.dialog-yes {
  margin: 8px;
}

.dialog-no {
  margin: 8px;
}
