.App {
  text-align: center;
}

.Display {
  margin-left: 10px;
}

.label-parent {
  text-align: left;
}

.labels {
  padding-left: 20px;
}

#show-loans {
  margin: 18px;
}

.form-group {
  padding-left: 30px;
  padding-right: 30px;
}

.month-input {
      /* border: 0; */
    width: 100px;
    cursor: auto;
    outline: 0;
    height: 100%;
    color: rgba(0, 0, 0, 0.65);
    background: #fff;
    padding: 0 10px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.month-select {
  text-align: left;
}

.picker-panel {
  top: 24px !important;
  z-index: 5;
}

/* Table Header */
.rows, .titles{
  text-align: center;
}

.rows div, .titles div {
  padding: 0;
}

/* Highlight rows for selected months payout */
.highlight {
  background-color: lightgreen;
}

/* edit button styling */
.editButton{
  float: left;
  margin-left: 17px;
}

.monthHeader{
  display: inline;
  text-align: center;
  clear: left;
}

.icon {
  padding-left: 5px;
  padding-right: 5px;
}

.pencil {
  color: #f0ad4e;
}

.x {
  color: #d9534f;
}

.check {
  color: forestgreen;
}

.pointer {
  cursor: pointer;
}